.footer-container .trees {
  background-image: url("../assets/svg/christmas-trees.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container .trees-cover {
  top: 0;
  padding: 2rem 0;
}

.footer-container .trees-dimensions {
  width: 100%;
  height: 12rem;
}

.footer-container .trees-back {
  flex-direction: column;
}

.footer-container .white-back, .footer-container .blue-back, .footer-container .trees {
  width: 100%;
  height: 100%;
}

.footer-container .white-back {
  flex: 2;
}

.footer-container .blue-back {
  flex: 1;
  background-color: var(--blue-700);
}

.footer {
  background-color: var(--blue-700);
  color: var(--white);
}

.footer .asii-icon {
  width: 15rem;
  height: 15rem;
}

.footer .event-name {
  font-size: 1.4rem;
  font-weight: bold;
}

.footer .title {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.footer .subtitle {
  padding: 0.4rem 0;
}

.footer .facebook-icon {
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 899px) {
  .footer {
    flex-direction: column;
  }

  .footer .info {
    padding: 5rem 0;
  }
}


@media screen and (max-width: 549px) {
  .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}