#about{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#about-top{
 background: var(--blue-600);
 height: 70px;
}

#about-top-title{
    text-align: center;
    text-transform: uppercase;
    color:var(--white);
    font-weight: 500;
    font-size: 25px;
    padding: 1% 0;
}

#about-content{
    margin: auto;
}

#about-content-description{
    width: 70%;
    background: var(--blue-500);
    padding: 25px 65px;
}

#about-content-description-text > p::first-letter{
    font-family: 'Times New Roman', Times, serif;
    color: var(--blue-200);
    font-size: 250%;
    font-weight: 1000;
}
#about-content-description-text{
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#about-content-description-imgwrap{
    width: 40%;
}

#about-content-description-imgwrap-img{
 
}

#about-content-details{
    padding: 10px 64px;
    margin-top: 5%;
    position: absolute;
    width: 35%;
    height: 350px;
    background: var(--blue-600);
    right: 0%;
    display: flex;
    
}

#about-content-details-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#about-content-details-text > p,b {
    
    color: var(--white);
    width: 80%;
}

#about-content-details-imgwrap{
    max-width: 500px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

#about-content-details-imgwrap-img{
    width: 120px;
    position: absolute;
    top: -35px;
    right: 5%;
}

@media screen and (min-width: 751px) and (max-width: 1200px){
    #about-content-details-imgwrap-img{
        width: 100px;
        position: absolute;
        top: -35px;
        right: 5%;
    }

    #about-content-details{
        padding: 0px 35px;
    }
}

@media screen and (max-width: 1200px){
    #about-content-description{
        padding: 35px 35px;
    }
}

@media screen and (max-width: 750px){

    #about-content{
        margin-top: 1.25rem;
        display: block;
    }

    #about-content-description{
        width: auto;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        display: block;
    }

    #about-content-description-text{
        width: auto;
    }

    #about-content-details{
        position: static;
        width: auto;
        margin-left: 1.25rem;
        margin-right: 1.25rem;
        padding: 35px 35px;
        height: auto;
    }

    #about-content-details-imgwrap-img{
        width: 150px;
        position: relative;
        top: -35px;
        right: 5%;
    }

    #about{
        height: auto;
    }
}