.coordonatori {
    font-size: 1em;
}
.coord-titlu {
    
    display: flex;
    font-family: "Roboto";
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/svg/coordinator-header.svg");
    background-position: center;
}
.coord {
    font-family: "Roboto";
    text-transform: uppercase;
    color: #fff;
    padding: 30px;
    font-weight: bold;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/svg/coordinator-details.svg");
    background-position: center;
}

.centrare {
    margin: auto;
    text-align: center;  
}
@media screen and (max-width: 800px){
    .coordonatori {
        font-size: 0.8em;
    }
    .coord {
        padding: 50px;
    }
}
