.partners-title {
  background-color: var(--red-600);
  width: 100%;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}

.partner-card {
  padding: 1rem 4rem;
  margin: 1rem;
  height: 5rem;
}

.partner-image {
  height: 100%;
}