.border {
    background-image: url("../assets/images/program-border.png");
    height: 20px;
    background-color: #97cade;
}
#program {
    height: 500px;
}
.program-image {
    height: 100%;
    width: 100%;
}
.program-content {
    top: 0;
    width: 100%;
    height: 100%;
}
.rectangle {
    text-align: center;
    
}
.program-text {
    color: white;
    background: rgba(0,0,0,.5);
    padding: 20px 70px;
    font-size: 23px;
    font-family: Roboto, sans-serif;
    border-radius: 4px;
}